    <!DOCTYPE html>
    <html lang="en">


    <!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/create_new_course.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:55:52 GMT -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=9">
        <meta name="description" content="Gambolthemes">
        <meta name="author" content="Gambolthemes">
        <title>Learnic - Create New Course</title>

        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="images/fav.png">

        <!-- Stylesheets -->
        <%- include('partials/head'); -%>


        <link href="css/instructor-dashboard.css" rel="stylesheet">
        <link href="css/instructor-responsive.css" rel="stylesheet">
        <link href="css/vertical-responsive-menu1.min.css" rel="stylesheet">
        <link href="css/jquery-steps.css" rel="stylesheet">
        <script
                type="text/javascript"
                src='https://cdn.tiny.cloud/1/l7uyy2f87we33kyvy3smlnrcrkdof0ulv3tcn44r5xwkox4h/tinymce/5/tinymce.min.js' referrerpolicy="origin">
        </script>
        <script type="text/javascript">
            let courseEditor= new tinymce.Editor('CourseDescribe',
                {width: 1000,
                height: 300,
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                    'table emoticons template paste help'
                ],
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                    'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                    'forecolor backcolor emoticons | help',
                menu: {
                    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
                },
                menubar: 'favs file edit view insert format tools table help'
                }, tinymce.EditorManager);
            let chapterEditor = new tinymce.Editor('ChapterDescribe', {width: 1000,
                height: 300,
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                    'table emoticons template paste help'
                ],
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                    'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                    'forecolor backcolor emoticons | help',
                menu: {
                    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
                },
                menubar: 'favs file edit view insert format tools table help'

            }, tinymce.EditorManager);

            courseEditor.render();
            chapterEditor.render();
        </script>


    </head>

    <body>
    <!-- Header Start -->
    <%- include('partials/navbar'); -%>
    <!-- Header End -->
    <!-- Left Sidebar Start -->
    <%- include('partials/instructor-left-menu'); -%>
    <!-- Left Sidebar End -->
    <!-- Body Start -->
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="course_tabs_1">
                            <div id="add-course-tab" class="step-app">
                                <ul class="step-steps">
                                    <li class="active">
                                        <a href="#tab_step1">
                                            <span class="number"></span>
                                            <span class="step-name">General Information</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_step2">
                                            <span class="number"></span>
                                            <span class="step-name">View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_step3">
                                            <span class="number"></span>
                                            <span class="step-name">Course Content</span>
                                        </a>
                                    <li>
                                        <a href="#tab_step4">
                                            <span class="number"></span>
                                            <span class="step-name">Extra Information</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="step-content">
                                    <div class="step-tab-panel step-tab-info active" id="tab_step1">
                                        <div class="tab-from-content">
                                            <div class="title-icon">
                                                <h3 class="title"><i class="uil uil-info-circle"></i>General Information</h3>
                                            </div>
                                            <div class="course__form">
                                                <div class="general_info10">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="ui search focus mt-30 lbel25">
                                                                <label>Course Title*</label>
                                                                <div class="ui left icon input swdh19">
                                                                    <input class="prompt srch_explore " type="text" placeholder="Insert your course title." name="title"  maxlength="60" value="" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input Title">
                                                                    <div class="badge_num">60</div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="ui search focus mt-30 lbel25">
                                                                <label>Course Short Description*</label>
                                                                <div class="ui left icon input swdh19">
                                                                    <input class="prompt srch_explore " type="text" placeholder="Insert your course Short Description." name="shortDescription"
                                                                           maxlength="60"  value="" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input short description">
                                                                    <div class="badge_num2">120</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="course_des_textarea mt-30 lbel25">
                                                                <label  id="CourseDescribe1" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input detail description">Course Detail Description*</label>
                                                                <textarea id="CourseDescribe" ></textarea>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="mt-30 lbel25">
                                                                <label>Course Category*</label>
                                                            </div>
                                                            <select class="ui  form-control cntry152 prompt srch_explore" id="category_select" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please select category">
                                                                <option value="" selected disabled>Select Category</option>
                                                                <option value="1">Development</option>
                                                                <option value="2" >Business</option>
                                                                <option value="3">Finance & Accounting</option>
                                                                <option value="4">IT & Software</option>
                                                                <option value="5">Office Productivity</option>
                                                                <option value="6">Personal Development</option>
                                                                <option value="7">Design</option>
                                                                <option value="8">Marketing</option>
                                                                <option value="9">Lifestyle</option>
                                                                <option value="10">Photography</option>
                                                                <option value="11">Health & Fitness</option>
                                                                <option value="12">Music</option>
                                                                <option value="13">Teaching & Academics</option>
                                                                <option value="14">Javascript</option>
                                                                <option value="15">Angular</option>
                                                                <option value="16">React</option>
                                                                <option value="17">CSS</option>
                                                                <option value="18">PHP</option>
                                                                <option value="19">Node.Js</option>
                                                                <option value="20">WordPress</option>
                                                                <option value="21">Vue JS</option>
                                                                <option value="22">Shopify</option>
                                                                <option value="23">Magento</option>
                                                                <option value="24">Open Cart </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2 col-md-12">
                                                            <button class="part_btn_save prt-sv" type="button" id="addCateBtn">Add</button>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12">
                                                            <div class="table-responsive mt-50 mb-0">
                                                                <table class="table ucp-table" >
                                                                    <thead class="thead-s">
                                                                    <tr>
                                                                        <th colspan="3" class="text-center" scope="col">Category</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="categoryTable" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please add category">
                                                                        <tr class="row-cate">
                                                                            <td class="text-center">1</td>
                                                                            <td class="cell-ta">Development</td>

                                                                            <td class="text-center">
                                                                                <a href="#category_select" title="Delete" class="gray-s deleteCateBtn"><i class="uil uil-trash-alt"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="row-cate">
                                                                            <td class="text-center"> 2 </td>
                                                                            <td class="cell-ta"> Javascript </td>
                                                                            <td class="text-center">
                                                                                <a href="#category_select" title="Delete" class="gray-s deleteCateBtn"><i class="uil uil-trash-alt"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="price_course">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="price_title">
                                                                <h4><i class="uil uil-dollar-sign-alt"></i>Pricing</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-3 col-sm-6">
                                                            <div class="mt-30 lbel25">
                                                                <label>Currency*</label>
                                                            </div>
                                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore">
                                                                <option value="1">USD</option>
                                                                <option value="2">CAD</option>
                                                                <option value="3">BRL</option>
                                                                <option value="4">EUR</option>
                                                                <option value="5">GBP</option>
                                                                <option value="6">INR</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                                            <div class="mt-30 lbel25">
                                                                <label>Select*</label>
                                                            </div>
                                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="price">
                                                                <option value="0" selected>Free</option>
                                                                <option value="24.99">24.99 (tier 1)</option>
                                                                <option value="29.99">29.99 (tier 2)</option>
                                                                <option value="34.99">34.99 (tier 3)</option>
                                                                <option value="39.99">39.99 (tier 4)</option>
                                                                <option value="44.99">44.99 (tier 5)</option>
                                                                <option value="49.99">49.99 (tier 6)</option>
                                                                <option value="54.99">54.99 (tier 7)</option>
                                                                <option value="59.99">59.99 (tier 8)</option>
                                                                <option value="64.99">64.99 (tier 9)</option>
                                                                <option value="69.99">69.99 (tier 10)</option>
                                                                <option value="74.99">74.99 (tier 11)</option>
                                                                <option value="79.99">79.99 (tier 12)</option>
                                                                <option value="84.99">84.99 (tier 13)</option>
                                                                <option value="89.99">89.99 (tier 14)</option>
                                                                <option value="94.99">94.99 (tier 15)</option>
                                                                <option value="99.99">99.99 (tier 16)</option>
                                                                <option value="104.99">104.99 (tier 17)</option>
                                                                <option value="109.99 ">109.99 (tier 18)</option>
                                                                <option value="114.99">114.99 (tier 19)</option>
                                                                <option value="119.99">119.99 (tier 20)</option>
                                                                <option value="124.99">124.99 (tier 21)</option>
                                                                <option value="129.99">129.99 (tier 22)</option>
                                                                <option value="134.99">134.99 (tier 23)</option>
                                                                <option value="139.99">139.99 (tier 24)</option>
                                                                <option value="144.99">144.99 (tier 25)</option>
                                                                <option value="149.99">149.99 (tier 26)</option>
                                                                <option value="154.99">154.99 (tier 27)</option>
                                                                <option value="159.99">159.99 (tier 28)</option>
                                                                <option value="164.99">164.99 (tier 29)</option>
                                                                <option value="169.99">169.99 (tier 30)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-tab-panel step-tab-gallery" id="tab_step2">
                                        <div class="tab-from-content">
                                            <div class="title-icon">
                                                <h3 class="title"><i class="uil uil-image-upload"></i>View</h3>
                                            </div>
                                            <div class="course__form">
                                                <div class="view_info10">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="view_all_dt">
                                                                <div class="view_img_left">
                                                                    <div class="view__img">
                                                                        <img src="images/courses/add_img.jpg" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="view_img_right">
                                                                    <h4>Cover Image</h4>
                                                                    <p>Upload your course image here. It must meet our course image quality standards to be accepted. Important guidelines: 750x422 pixels; .jpg, .jpeg,. gif, or .png. no text on the image.</p>
                                                                            <div class="upload__input">
                                                                        <div class="input-group row">
                                                                            <div class=" col-lg-3 col-md-6">
                                                                                <button class="part_btn_save prt-sv" type="button" id="UploadImgBtn">Upload</button>
                                                                            </div>
                                                                            <div class="col-lg-3 col-md-6">
                                                                                <button class="part_btn_save prt-sv" type="button" id="DelUploadImgBtn" hidden >Delete</button>
                                                                            </div>
                                                                            <input type="file" class="custom-file-input" id="inputImage" name="image" accept="image/png,image/gif,image/jpeg,image/jpg">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-tab-panel step-tab-location" id="tab_step3">
                                        <div class="tab-from-content">
                                            <div class="title-icon">
                                                <h3 class="title"><i class="uil uil-film"></i>Course Content</h3>
                                            </div>
                                            <div class="course__form">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="extra_info">
                                                            <h4 class="part__title">New Course Content</h4>
                                                        </div>
                                                        <div class="view_info10">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="ui search focus mt-30 lbel25">
                                                                        <label>Chapter Title*</label>
                                                                        <div class="ui left icon input swdh19">
                                                                            <input class="prompt srch_explore" type="text" placeholder="Insert your chapter title." name="titleChapter"  maxlength="60" id="chapterTitle" value="" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input chapter title">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="lecture_title">
                                                                        <h4>Add Lecture</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-12">
                                                                    <div class="ui search focus mt-30 lbel25">
                                                                        <label>Lecture Title*</label>
                                                                        <div class="ui left icon input swdh19">
                                                                            <input class="prompt srch_explore" type="text" placeholder="Insert your lecture title." name="titleLecture"  maxlength="60" id="lecture_title" value="" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input lecture title">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-6">
                                                                    <div class="part_input mt-30 lbel25">
                                                                        <label>File*</label>
                                                                        <div class="input-group">
                                                                            <div class="custom-file">
                                                                                <input type="file" class="custom-file-input" id="inputGroupFile06" accept="video/*">
                                                                                <label class="custom-file-label" for="inputGroupFile06">No Choose file - (Video)</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class=" mt-30 lbel25">
                                                                        <label id="ChapterDescribe1" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please input lecture description" >Description*</label>
                                                                        <textarea id="ChapterDescribe"></textarea>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-5 col-md-6">
                                                                    <div class="ui search focus mt-30 lbel25">
                                                                        <label>Duration*</label>
                                                                        <div class="ui left icon input swdh19 swdh55">
                                                                            <input class="prompt srch_explore" type="number" min="1" name="duration"  placeholder="0">
                                                                            <div class="badge_min">Minutes</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2 col-md-12">
                                                                    <button class="part_btn_save prt-sv" data-id="add" id="SaveLectureBtn" >Add Lecture</button>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="table-responsive mt-50 mb-0">
                                                                        <table class="table ucp-table">
                                                                            <thead class="thead-s">
                                                                            <tr>
                                                                                <th class="text-center" scope="col">Lecture</th>
                                                                                <th class="cell-ta">Title</th>
                                                                                <th class="text-center" scope="col">Duration</th>
                                                                                <th class="text-center" scope="col">File</th>
                                                                                <th class="text-center" scope="col">Controls</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody id="lecture_table" trigger="manual"  data-toggle="tooltip" data-placement="right" title="Please add lecture ">

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="save_content">
                                                                        <button class="save_content_btn uil" id="saveChapterBtn" data-id="add" type="button">Add Chapter</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive mt-30">
                                                <table class="table ucp-table" id="content-table">
                                                    <thead class="thead-s">
                                                    <tr>
                                                        <th class="text-center" scope="col">Chapter</th>
                                                        <th class="cell-ta">Title</th>
                                                        <th class="text-center" scope="col">Lectures</th>
                                                        <th class="text-center" scope="col">Duration</th>
                                                        <th class="text-center" scope="col">Controls</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="chapter_table" >
    <!--                                                <tr>-->
    <!--                                                    <td class="text-center">1</td>-->
    <!--                                                    <td class="cell-ta">Course Content Title</td>-->
    <!--                                                    <td class="text-center">5</td>-->
    <!--                                                    <td class="text-center">15</td>-->
    <!--                                                    <td class="text-center">6 April 2019</td>-->
    <!--                                                    <td class="text-center">-->
    <!--                                                        <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>-->
    <!--                                                        <a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>-->
    <!--                                                    </td>-->
    <!--                                                </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-tab-panel step-tab-amenities" id="tab_step4">
                                        <div class="tab-from-content">
                                            <div class="title-icon">
                                                <h3 class="title"><i class="uil uil-file-copy-alt"></i>Extra Information</h3>
                                            </div>
                                            <div class="course__form">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="view_info10">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="ui toggle checkbox _1457s2">
                                                                        <input type="checkbox" name="finishedTag" >
                                                                        <label>Finished Version</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="step-footer step-tab-pager">
                                    <button data-direction="prev" class="btn btn-default steps_btn">PREVIOUS</button>
                                    <button data-direction="next" class="btn btn-default steps_btn">Next</button>
                                    <button data-direction="finish" class="btn btn-default steps_btn">Submit for Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); -%>
    </div>
    <!-- Body End -->

    <script src="js/vertical-responsive-menu.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/night-mode.js"></script>
    <script src="js/jquery-steps.min.js"></script>
    <!--Hàm chung-->
    <script>
        $('#add-course-tab').steps({
            enableAllSteps: false,
            onChange: function (currentIndex, newIndex, stepDirection) {
                if (currentIndex === 0) {
                    if (stepDirection === 'forward') {
                        if($('input[name="title"]').val()===""){
                            $('input[name="title"]').tooltip("show")
                            alert("You didn't input Title Course")
                            return false;
                        }
                        if($('input[name="shortDescription"]').val()===""){
                            $('input[name="shortDescription"]').tooltip("show")
                            alert("You didn't input Short Description")
                            return false;
                        }
                        if(courseEditor.getContent()===""){
                            $('#CourseDescribe1').tooltip("show")
                            alert("You didn't input Detail Description")
                            return false;
                        }
                        if($('#categoryTable tr').length===0)
                        {
                            $('#categoryTable').tooltip("show")
                            alert("Please add category")
                            return false;
                        }
                    }
                }
                if (currentIndex === 1) {
                    if (stepDirection === 'forward') {
                        if($('#inputImage').val()==="")
                        {
                            alert("Please choose Image")
                            return false;
                        }
                    }
                }
                if (currentIndex === 2) {
                    if (stepDirection === 'forward') {
                        if($('#chapter_table tr').length===0)
                        {
                            alert("You don't have any chapter yet")
                            return false;
                        }
                    }
                }

                return true;
            },
            onFinish: async function () {

                var rs={
                    title: $('input[name="title"]').val(),
                    finished:$('input[name="finishedTag"]:checked').length===1,
                    short_description: $('input[name="shortDescription"]').val(),
                    detail_description: courseEditor.getContent(),
                    price:$('select[name="price"]').val(),
                    chapter: chapter
                }
                var id;
                $.ajax({
                    async:false,
                    url: "/create_new_course",
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data:JSON.stringify(rs),
                    success: function(e) {
                        alert("send success  "+e);
                        id=e;

                    },
                    error: function(result) {
                        alert('error '+ result);
                    }
                })

                var img = new FormData();
                imgname= $('#inputImage').prop('files')[0].name;
                let extension= imgname.substr( (imgname.lastIndexOf('.') +1) );
                img.append('image',$('#inputImage').prop('files')[0],`${id}.${extension}`)
                img.append('id',id)

                $.ajax({
                    url:'/create_new_course/img',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: img,
                    success: function(res){
                        alert(res);
                    },
                    error: function(){
                        alert('Error: In sending the request!');
                    }
                })
                var vid= new FormData();
                var FileName=[]
                var fieldArr=[]
                for (i = 0; i < chapter.length; i++) {
                    lectureArray=[]
                    for(j=0;j<chapter[i].lecture.length;j++)
                    {
                        let filename=chapter[i].lecture[j].file.name;
                        let extension= filename.substr( (filename.lastIndexOf('.') +1) );
                        lectureArray.push(`upload/video/${id}c${i}l${j}.${extension}`);
                        vid.append(`c${i}l${j}`,chapter[i].lecture[j].file,`${id}c${i}l${j}.${extension}`)
                    }
                    FileName.push([...lectureArray])
                }
                vid.append('video',JSON.stringify(FileName))
                vid.append('id',id)
                $.ajax({
                    url:'/create_new_course/vid',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: vid,
                    success: function(res){
                        alert("Upload Video success");
                    },
                    error: function(){
                        alert('Error: In sending the request!');
                    }
                })
            }
        })

        $.extend({
            el: function(el, props) {
                let $el = $($("<"+el+" />"));
                $el.attr(props);
                return $el;
            }
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('.view__img img').attr('src', e.target.result);

                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    </script>
    <!--                               Hàm cho tab 1-->
    <script>
        $(document).ready(function () {
            $('#addCateBtn').click(function () {
                $('#category_select').tooltip('hide');
                if($('#category_select').find(':selected').attr('disabled')!== 'disabled')
                {
                    $('#categoryTable').append(
                        $.el('tr',{}).append(
                            $.el('td',{'class':'text-center'}).text($('#categoryTable tr').length+1)
                        ).append(
                            $.el('td',{'class':'cell-ta'}).text($('#category_select').find(':selected').text())
                        ).append(
                            $.el('td',{'class':'text-center'}).append(
                                $.el('a',{'href':'#category_select','class':'gray-s deleteCateBtn','title':'Delete'}).append(
                                    $.el('i',{'class':'uil uil-trash-alt'})
                                )
                            )
                        )
                    );
                    $('#category_select').val('');
                }
                else{
                    $('#category_select').tooltip('show');
                }
            });
            $('#categoryTable').on('click','a.deleteCateBtn',function () {
                let id=$('.deleteCateBtn').index($(this));
                $('#categoryTable tr').eq(id).remove();
            });
        });
    </script>
    <!--Hàm cho tab2-->
    <script>
        $(document).ready(function () {

            $('#UploadImgBtn').click(function () {
                $('#inputImage').click();

            })
            $("#inputImage").change(function() {
                if($('#inputImage').val()!=="") {
                    readURL(this);
                    $('#DelUploadImgBtn').removeAttr('hidden');
                    $('#UploadImgBtn').text('Change');
                }

            });
            $('#DelUploadImgBtn').click(function () {
                $('#inputImage').val("");
                $(this).attr('hidden','true');
                $('#UploadImgBtn').text('Upload')
                $('.view__img img').attr('src',"images/courses/add_img.jpg")

            });

        });

    </script>
    <!--Hàm cho tab3-->
    <script>
        let chapter=[];
        let lectures=[];
        let lectureVideos=[];

        $(document).ready(function () {
            $('.custom-file').on('change','#inputGroupFile06',function(e){
                //get the file name
                var fileName = e.target.files[0].name;            //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });
            $('#SaveLectureBtn').click(function () {
                if($('#lecture_title').val()===""){
                    $('#lecture_title').tooltip('show');
                }
                if($('input[name="duration"]').val() ===""){
                    $('input[name="duration"]').tooltip('show');
                }
                if(chapterEditor.getContent() ===""){
                    $('#ChapterDescribe1').tooltip('show');
                }
                if(($('#lecture_title').val()!=="") && ($('input[name="duration"]').val() !=="")  &&(chapterEditor.getContent() !=="")) {
                    if ($(this).attr('data-id') === 'add') {
                        $('#lecture_table').append(
                            $.el('tr', {}).append(
                                $.el('td', {'class': 'text-center'}).text($('#lecture_table tr').length + 1)
                            ).append(
                                $.el('td', {'class': 'cell-ta'}).text($('#lecture_title').val())
                            ).append(
                                $.el('td', {'class': 'text-center'}).text($('input[name="duration"]').val())
                            ).append(
                                $.el('td', {'class': 'text-center'}).text($('#inputGroupFile06').prop('files')[0].name)
                            ).append(
                                $.el('td', {'class': 'text-center d-flex justify-content-center'}).append(
                                    $.el('a', {'class': 'gray-s editLectureBtn', 'title': 'Edit', 'href': '#'}).append(
                                        $.el('i', {'class': 'uil uil-edit-alt'})
                                    )
                                ).append(
                                    $.el('a', {'class': 'gray-s delLectureBtn', 'title': 'Delete', 'href': '#'}).append(
                                        $.el('i', {'class': 'uil uil-trash-alt'})
                                    )
                                )
                            )
                        )

                        lectures.push({
                            title: $('#lecture_title').val(),
                            duration: $('input[name="duration"]').val(),
                            content: chapterEditor.getContent(),
                            file: $('#inputGroupFile06').prop('files')[0]
                        })
                    } else {
                        let idlecture = parseInt($(this).attr('data-id'));
                        let fn = lectures[idlecture].file;
                        temp = {
                            title: $('#lecture_title').val(),
                            duration: $('input[name="duration"]').val(),
                            content: chapterEditor.getContent(),
                            file: $('#inputGroupFile06').prop('files')[0]
                        }
                        if (temp.file === undefined)
                            temp.file = fn;
                        $(`#lecture_table tr:eq(${idlecture}) td:eq(1)`).text(temp.title)
                        $(`#lecture_table tr:eq(${idlecture}) td:eq(2)`).text(temp.duration)
                        $(`#lecture_table tr:eq(${idlecture}) td:eq(3)`).text(temp.file.name)

                        lectures[idlecture] = temp;
                        $(this).attr('data-id', 'add');
                        $('#SaveLectureBtn').text('Add Lecture')

                    }
                    $('#inputGroupFile06').next('.custom-file-label').html("");
                    $('#lecture_title').val("")
                    $('input[name="duration"]').val("")
                    chapterEditor.setContent("")
                    $('#inputGroupFile06').val("")
                }
            })

            $('#lecture_table').on('click','a.delLectureBtn',function () {
                let id= $('.delLectureBtn').index($(this))
                $('#lecture_table tr').eq(id).remove();
                lectures.splice(id,1);

            })

            $('#lecture_table').on('click','a.editLectureBtn',function () {
                let id= $('.editLectureBtn').index($(this))
                $('#SaveLectureBtn').attr('data-id',id)
                $('#SaveLectureBtn').text('Save Lecture')
                $('#inputGroupFile06').next('.custom-file-label').html(lectures[id].file.name);
                $('#lecture_title').val(lectures[id].title)
                $('input[name="duration"]').val(lectures[id].duration)
                chapterEditor.setContent(lectures[id].description)
            })

            $('#saveChapterBtn').click(function () {
                if($('#chapterTitle').val()===""){
                    $('#chapterTitle').tooltip('show');
                }
                if(lectures.length ===0)
                {
                    $('#lecture_table').tooltip('show');
                }
                if($('#chapterTitle').val()!=="" && lectures.length !==0)
                {
                    let totalDur=0;
                    lectures.forEach(element => totalDur += parseInt(element.duration));
                    if ($(this).attr('data-id') === 'add') {
                        $('#chapter_table').append(
                            $.el('tr', {}).append(
                                $.el('td', {'class': 'text-center'}).text($('#chapter_table tr').length + 1)
                            ).append(
                                $.el('td', {'class': 'cell-ta'}).text($('#chapterTitle').val())
                            ).append(
                                $.el('td', {'class': 'text-center'}).text(lectures.length)
                            ).append(
                                $.el('td', {'class': 'text-center'}).text(totalDur)
                            ).append(
                                $.el('td', {'class': 'text-center d-flex justify-content-center'}).append(
                                    $.el('a', {'class': 'gray-s editChapterBtn', 'title': 'Edit', 'href': '#'}).append(
                                        $.el('i', {'class': 'uil uil-edit-alt'})
                                    )
                                ).append(
                                    $.el('a', {'class': 'gray-s delChapterBtn', 'title': 'Delete', 'href': '#'}).append(
                                        $.el('i', {'class': 'uil uil-trash-alt'})
                                    )
                                )
                            )
                        )
                        chapter.push({
                            title: $('#chapterTitle').val(),
                            duration: totalDur,
                            lecture: [...lectures],
                        })

                        lectures = []
                    } else {
                        let id = parseInt($(this).attr('data-id'));
                        temp = {
                            title: $('#chapterTitle').val(),
                            lecture: [...lectures],
                            duration: totalDur,
                        }
                        $(`#lecture_table tr:eq(${id}) td:eq(1)`).text(temp.title)
                        $(`#lecture_table tr:eq(${id}) td:eq(2)`).text(temp.lecture.length)
                        $(`#lecture_table tr:eq(${id}) td:eq(3)`).text(temp.duration)
                        chapter[id] = temp;
                        $(this).attr('data-id', 'add');
                        $('#saveChapterBtn').text('Add Chapter')
                    }


                    $('#lecture_table').empty();
                    $('#inputGroupFile06').next('.custom-file-label').html("");
                    $('#lecture_title').val("")
                    $('input[name="duration"]').val("")
                    chapterEditor.setContent("")
                    $('#inputGroupFile06').val("")
                    $('#chapterTitle').val("")
                }
            });

            $('#chapter_table').on('click','a.delChapterBtn',function () {
                let id= $('.delChapterBtn').index($(this))
                $('#chapter_table tr').eq(id).remove();
                chapter.splice(id,1);

            });

            $('#chapter_table').on('click','a.editChapterBtn',function () {
                let id= $('.editChapterBtn').index($(this))
                $('#saveChapterBtn').attr('data-id',id)
                $('#saveChapterBtn').text('Save Chapter')
                $('#chapterTitle').val(chapter[id].title)
                chapter[id].lecture.forEach(function (c) {
                    $('#lecture_table').append(
                        $.el('tr',{}).append(
                            $.el('td',{'class':'text-center'}).text($('#lecture_table tr').length+1)
                        ).append(
                            $.el('td',{'class':'cell-ta'}).text(c.title)
                        ).append(
                            $.el('td',{'class':'text-center'}).text(c.duration)
                        ).append(
                            $.el('td',{'class':'text-center'}).text(c.file.name)

                        ).append(
                            $.el('td',{'class':'text-center d-flex justify-content-center'}).append(
                                $.el('a',{'class':'gray-s editLectureBtn','title':'Edit','href':'#'}).append(
                                    $.el('i',{'class':'uil uil-edit-alt'})

                                )
                            ).append(
                                $.el('a',{'class':'gray-s delLectureBtn','title':'Delete','href':'#'}).append(
                                    $.el('i',{'class':'uil uil-trash-alt'})
                                )
                            )
                        )
                    )
                })
                lectures=chapter[id].lecture;
            });
        });


    </script>
    <!--Hàm cho tab4-->
    <script>

    </script>
    </body>

    <!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/create_new_course.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:02 GMT -->
    </html>